.crop-preview {
  display: none;
}

.crop-preview__panel,.crop-box__panel {
  text-align: center;
  svg{
    color: #007bff;
    font-size: 1.7em;
    margin: 0 3px;
    &:hover {
      color: #0056b3;
      cursor: pointer;
    }
  }
}

.crop-preview__img {
  text-align: center;
}
.crop-box__panel {
  input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
  }
}
