{% extends 'base.html.twig' %}

{% block content %}

    <!--================Home Banner Area =================-->
    <section class="banner_area banner_area__empty">
        <div class="banner_inner banner_inner__empty"></div>
    </section>
    <!--================End Home Banner Area =================-->

    <section class="restore_password_box p_80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="restore_password_box__inner">
                        <form action="{{ path('security.restore-password.handle') }}" method="post">
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" placeholder="Адрес почты">
                            </div>
                            <div class="form-group">
                                <button class="btn submit_btn">Отпавить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}